@-moz-document url("about:newtab") {
  body {
    background-color: #202020 !important;
  }
}

@-moz-document url("about:blank") {
  body {
    background-color: #202020 !important;
  }
}

@-moz-document url(chrome://browser/content/browser.xhtml) {
  browser[type="content-primary"] {
    background: #202020 !important
  }
}

/* remove visual noise */
@-moz-document url("about:home"), url("about:newtab"){
  .logo-and-wordmark{ display: none !important; }
}
